<!DOCTYPE html>
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en" style=""><!-- <![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta content="en" name="lang">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" name="viewport">
  <meta content="StarCraft II match between Moonglade and TheStC on May 22, 2013 in the WCS America Premier League" name="description">
  <meta content="noodp, noydir" name="robots">
  <title>Moonglade vs TheStC on May 24, 2013 - WCS America</title>

  <%= stylesheet_link_tag "wcs", :media => "all" %>

  <script src="http://opcdn.battle.net/static/wcs/public/9193112/scripts/vendor/modernizr.js"></script>
  <script type="text/javascript">
    var lang = "en";
  </script>
  
<script src="http://mediacdn.disqus.com/1370024437/build/next/alfie.js" async="" charset="UTF-8"></script></head>
<body>
  <div class="all-content-wrapper">
    <header class="clearfix" role="banner">
  <div class="nav-content">
    <nav class="nav-bar-section" id="main-nav">
      <a class="nav-button" href="http://wcs.battle.net/sc2/en/matches/sen-vs-crank#nav" id="nav-button">
        <i class="icon-reorder"></i>
      </a>
      <a class="logo" href="http://wcs.battle.net/sc2/en">SC2</a>
      <div class="site-tag delta">
        <span>Beta</span>
        <a class="epsilon" href="">Send feedback</a>
      </div>
      <div class="nav-bar clearfix">
        <ul class="unstyled-list nav-list-container clearfix">
          <li class="home"><a href="http://wcs.battle.net/sc2/en">
            <i class="icon-home"></i>
          </a></li>
          <li class=""><a href="http://wcs.battle.net/sc2/en/standings">Standings</a></li>
          <li class="current"><a href="http://wcs.battle.net/sc2/en/brackets">Brackets</a></li>
          <li class=""><a href="http://wcs.battle.net/sc2/en/schedule">Schedule</a></li>
          <li class=""><a href="http://wcs.battle.net/sc2/en/articles">News</a></li>
          <li class=""><a href="http://wcs.battle.net/sc2/en/about">About</a></li>
          <li class="below-medium"><div class="language-select-wrapper-nav">
            <span>Language</span>
            <label>
              <input checked="checked" class="language-button" name="language-nav" type="radio" value="en">
              <span>English</span>
            </label>
            <label>
              <input class="language-button" name="language-nav" type="radio" value="ko">
              <span>한국어</span>
            </label>
          </div></li>
          <li class="below-medium"><a href="">Send feedback</a></li>
        </ul>
        <div class="subnav-list-container">
          <div class="language-select-wrapper epsilon">
            <div class="language-select" id="language-select">
              <span>Language</span>
              <label>
                <input checked="checked" class="language-button" name="language" type="radio" value="en">
                <span>English</span>
              </label>
              <label>
                <input class="language-button" name="language" type="radio" value="ko">
                <span>한국어</span>
              </label>
            </div>
          </div>
          <div class="bnet-container">
            <ul class="bnet-links">
              <li class="service-cell service-home">
                <a href="http://us.battle.net/">
                  &nbsp;
                </a>
              </li>
              <li class="service-cell service-explore">
                <a accesskey="5" class="dropdown" href="http://wcs.battle.net/sc2/en/matches/sen-vs-crank#explore" id="explore-link" rel="javascript" tabindex="50">
                  <span class="full-explore">
                    Explore
                  </span>
                  <span class="bnet-logo"><img src="http://opcdn.battle.net/static/wcs/public/images/bnet-logo.png"><i class="icon-chevron-down epsilon"></i></span>
                </a>
              </li>
            </ul>
            <div class="explore-menu" id="explore-menu" style="display: none;">
  <div class="explore-primary">
    <ul class="explore-nav">
        <li>
          <a href="http://us.battle.net/" tabindex="55" data-label="Home">
          <strong class="explore-caption">Battle.net Home</strong>
        </a>
      </li>
      <li>
          <a href="https://us.battle.net/account/management/" tabindex="55" data-label="Account">
          <strong class="explore-caption">Account</strong>
        </a>
      </li>
        <li>
          <a href="http://us.battle.net/support/" tabindex="55" data-label="Support">
            <strong class="explore-caption">Support</strong>
          </a>
        </li>

        <li>
            <a href="https://us.battle.net/account/management/get-a-game.html" tabindex="55" data-label="Buy Games">
            <strong class="explore-caption">Buy Games</strong>
          </a>
        </li>
    </ul>

    <div class="explore-links">
      <h2 class="explore-caption">More</h2>

      <ul>
          <li><a href="http://us.battle.net/what-is/" tabindex="55" data-label="More">What is Battle.net?</a></li>
          <li><a href="https://us.battle.net/account/parental-controls/index.html" tabindex="55" data-label="More">Parental Controls</a></li>
          <li><a href="http://us.battle.net/security/" tabindex="55" data-label="More">Account Security</a></li>
          <li><a href="https://us.battle.net/account/management/add-game.html" tabindex="55" data-label="More">Add a Game</a></li>
          <li><a href="https://us.battle.net/account/support/password-reset.html" tabindex="55" data-label="More">Can’t log in?</a></li>
          <li><a href="https://us.battle.net/account/download/" tabindex="55" data-label="More">Game Client Downloads</a></li>
          <li><a href="https://us.battle.net/account/management/redemption/redeem.html" tabindex="55" data-label="More">Redeem Promo Codes</a></li>
          <li><a href="http://us.battle.net/games/classic" tabindex="55" data-label="More">Classic Games</a></li>
      </ul>
    </div>

<span class="clear"><!-- --></span>

  </div>
  <ul class="explore-secondary">
      <li class="explore-game explore-game-sc2">
        <a href="http://us.battle.net/sc2/" tabindex="55" data-label="Game - sc2">
          <span class="explore-game-inner">
          <strong class="explore-caption">StarCraft®&nbsp;II</strong>
          </span>
        </a>
      </li>
      <li class="explore-game explore-game-wow">
        <a href="http://us.battle.net/wow/" tabindex="55" data-label="Game - wow">
          <span class="explore-game-inner">
          <strong class="explore-caption">World of Warcraft®</strong>
          </span>
        </a>
      </li>
      <li class="explore-game explore-game-d3">
        <a href="http://us.battle.net/d3/" tabindex="55" data-label="Game - d3">
          <span class="explore-game-inner">
          <strong class="explore-caption">Diablo®&nbsp;III</strong>
          </span>
        </a>
      </li>
      <li class="explore-game explore-game-hs">
        <a href="http://us.battle.net/hearthstone/" tabindex="55" data-label="Game - hs">
          <span class="explore-game-inner">
          <strong class="explore-caption">Hearthstone™</strong>
          </span>
        </a>
      </li>
  </ul>
</div>
          </div>
          <ul class="subnav-list unstyled-list">
            <li><a href="http://www.facebook.com/StarCraft" target="_blank">
              <i class="icon-facebook"></i>
            </a></li>
            <li><a href="https://www.twitter.com/StarCraft" target="_blank">
              <i class="icon-twitter"></i>
            </a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
    <div class="content"></div>
    
    <div class="main content clearfix solid-bg">
      <aside class="trending-container">
  <div class="trending-rail isShowingPopular" id="trending">
    <div class="schedule-module trending-module">
      <div class="content-header">
        <a href="http://wcs.battle.net/sc2/en/schedule">Schedule</a>
      </div>
      <!-- .full-schedule-row -->
      <div class="full-schedule-item">
        <div class="lhs">
          <div class="day-name">MON</div>
          <div class="day-number">3</div>
          <div class="month-name">JUN</div>
        </div>
        <div class="rhs">
          <div class="status">
            Live now!
          </div>
          <div class="title">WCS Europe Challenger League Group F</div>
          <div class="competitors">
            <div class="competitors-title">Competitors:</div>
            <ul>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/bunny">
                  <img alt="Terran" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/terran-icon.png" title="Terran">
                  Bunny
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/krass">
                  <img alt="Terran" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/terran-icon.png" title="Terran">
                  KrasS
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/duckdeok">
                  <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                  duckdeok
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/harstem">
                  <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                  Harstem
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="full-schedule-item">
        <div class="lhs">
          <div class="day-name">Tue</div>
          <div class="day-number">4</div>
          <div class="month-name">Jun</div>
        </div>
        <div class="rhs">
          <time class="since" datetime="2013-06-04T09:10:00+00:00">5:10 am</time>
          <div class="title">WCS Korea Challenger League Group D</div>
          <div class="competitors">
            <div class="competitors-title">Competitors:</div>
            <ul>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/curious">
                  <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                  Curious
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/byun">
                  <img alt="Terran" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/terran-icon.png" title="Terran">
                  ByuN
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/effort">
                  <img alt="Zerg" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/zerg-icon.png" title="Zerg">
                  EffOrt
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/paralyze">
                  <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                  ParalyzE
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/super">
                  <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                  Super
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- .full-schedule-row -->
      <div class="full-schedule-item">
        <div class="lhs">
          <div class="day-name">Tue</div>
          <div class="day-number">4</div>
          <div class="month-name">Jun</div>
        </div>
        <div class="rhs">
          <time class="since" datetime="2013-06-04T16:00:00+00:00">12:00 pm</time>
          <div class="title">WCS Europe Challenger League Group G</div>
          <div class="competitors">
            <div class="competitors-title">Competitors:</div>
            <ul>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/mana">
                  <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                  MaNa
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/thorzain">
                  <img alt="Terran" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/terran-icon.png" title="Terran">
                  ThorZaIN
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/bischu">
                  <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                  Bischu
                </a>
              </li>
              <li>
                <a href="http://wcs.battle.net/sc2/en/players/firecake">
                  <img alt="Zerg" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/zerg-icon.png" title="Zerg">
                  FireCake
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a class="full-link" href="http://wcs.battle.net/sc2/en/schedule">View Full Schedule</a>
    </div>
    <div class="results-module trending-module">
      <div class="content-header">
        <a href="http://wcs.battle.net/sc2/en/brackets">Results</a>
      </div>
      <ul class="results-wrapper unstyled-list epsilon vertical">
        <li class="match-result">
          <ul class="players unstyled-list">
            <li class="clearfix">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/revival-vs-hero">
                <img alt="Zerg" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/zerg-icon.png" title="Zerg">
                <span class="player-name">Revival</span>
                <span class="player-score">2</span>
              </a>
            </li>
            <li class="clearfix winner">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/revival-vs-hero">
                <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                <span class="player-name">HerO</span>
                <span class="player-score">4</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="match-result">
          <ul class="players unstyled-list">
            <li class="clearfix winner">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/alive-vs-revival">
                <img alt="Zerg" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/zerg-icon.png" title="Zerg">
                <span class="player-name">Revival</span>
                <span class="player-score">3</span>
              </a>
            </li>
            <li class="clearfix">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/alive-vs-revival">
                <img alt="Terran" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/terran-icon.png" title="Terran">
                <span class="player-name">aLive</span>
                <span class="player-score">1</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="match-result">
          <ul class="players unstyled-list">
            <li class="clearfix">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/first-vs-marineking-2">
                <img alt="Terran" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/terran-icon.png" title="Terran">
                <span class="player-name">MarineKing</span>
                <span class="player-score">0</span>
              </a>
            </li>
            <li class="clearfix winner">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/first-vs-marineking-2">
                <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                <span class="player-name">First</span>
                <span class="player-score">1</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="match-result">
          <ul class="players unstyled-list">
            <li class="clearfix">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/hurricane-vs-marineking-2">
                <img alt="Terran" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/terran-icon.png" title="Terran">
                <span class="player-name">MarineKing</span>
                <span class="player-score">0</span>
              </a>
            </li>
            <li class="clearfix winner">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/hurricane-vs-marineking-2">
                <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                <span class="player-name">Hurricane</span>
                <span class="player-score">1</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="match-result">
          <ul class="players unstyled-list">
            <li class="clearfix">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/first-vs-hurricane-1">
                <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                <span class="player-name">Hurricane</span>
                <span class="player-score">0</span>
              </a>
            </li>
            <li class="clearfix winner">
              <a class="match-link" href="http://wcs.battle.net/sc2/en/matches/first-vs-hurricane-1">
                <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
                <span class="player-name">First</span>
                <span class="player-score">1</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="standings-module trending-module spoiler">
      <div class="content-header">
        <a href="http://wcs.battle.net/sc2/en/standings">Standings</a>
      </div>
      <table class="standings table spoiler">
        <thead>
          <tr>
            <td></td>
            <td class="team-column"></td>
            <td>Player</td>
            <td>Region</td>
            <td>Points</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td class="team-column">
              <img alt="Terran" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/terran-icon.png" title="Terran">
            </td>
            <td>
              <a href="http://wcs.battle.net/sc2/en/players/mvp">Mvp</a>
            </td>
            <td>Europe</td>
            <td>2100</td>
          </tr>
          <tr>
            <td>2.</td>
            <td class="team-column">
              <img alt="Zerg" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/zerg-icon.png" title="Zerg">
            </td>
            <td>
              <a href="http://wcs.battle.net/sc2/en/players/stephano">Stephano</a>
            </td>
            <td>Europe</td>
            <td>1675</td>
          </tr>
          <tr>
            <td>3.</td>
            <td class="team-column">
              <img alt="Terran" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/terran-icon.png" title="Terran">
            </td>
            <td>
              <a href="http://wcs.battle.net/sc2/en/players/innovation">INnoVation</a>
            </td>
            <td>Korea</td>
            <td>1600</td>
          </tr>
          <tr>
            <td>4.</td>
            <td class="team-column">
              <img alt="Zerg" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/zerg-icon.png" title="Zerg">
            </td>
            <td>
              <a href="http://wcs.battle.net/sc2/en/players/soulkey">Soulkey</a>
            </td>
            <td>Korea</td>
            <td>1600</td>
          </tr>
          <tr>
            <td>5.</td>
            <td class="team-column">
              <img alt="Zerg" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/zerg-icon.png" title="Zerg">
            </td>
            <td>
              <a href="http://wcs.battle.net/sc2/en/players/dimaga">DIMAGA</a>
            </td>
            <td>Europe</td>
            <td>1350</td>
          </tr>
        </tbody>
      </table>
      <a class="full-link" href="http://wcs.battle.net/sc2/en/standings">View Full Standings</a>
    </div>
    <div class="article-module trending-module spoiler">
  <div class="content-header">
    <a href="http://wcs.battle.net/sc2/en/articles">News</a>
  </div>
</div>
  </div>
</aside>
<div id="match" ng-controller="MatchController" ng-class="{condensed: condensed}" class="type-<%= @match.game_type %> <%= @match.game_type != '1v1' ? 'condensed' : '' %>">
<div class="djcloak match-wrapper top">
  <div class="video-wrapper">
    <div id="ytplayer"></div>
  </div>
  <span class="title lefty" style="font-size:12px">ARMY STRENGTH, MINERALS + GAS</span>
  <armychart id="armychart" data-width="897px" data-height="150" data-data="armies_and_idents" data-frame="current_frame" data-framee="current_framee" data-initial-frame="0" data-chart="armychart" data-armies="armies" data-match="match" data-condensed="condensed" data-timebarwidth="3" data-current-time="current_time" style="background: #dbdee3">
  </armychart>
    <span class="title lefty armycomp" style="font-size:12px">ARMY COMPOSITION AND RESOURCE VALUE</span>
    <div class="teams">
      <% for team, entities in @match.teams.sort do %>
      <div class="team team<%= team %>">
        <div class="info">
          <div class="name">
            <span class="flag" style="background-color: #{{ entity.color }};"></span>
            <a target="_self" href="/players/{{ entity.identity.id }}/{{ entity.identity.name }}">Team <%= team %></a>
          </div>

          <ul class="stats">
            <li class="minerals"><div class="icon sc2-mineral-16"></div><span class="value">{{ match.teams[<%= team %>].minerals }}</span></li>
            <li class="gas"><div class="icon sc2-gas-16"></div><span class="value">{{ match.teams[<%= team %>].gas }}</span></li>
            <li class="supply"><div class="icon sc2-supply-16"></div><span class="value">{{ match.teams[<%= team %>].supply }}</span></li>
          </ul>

          <div class="clear"></div>
        </div>
        
        <% for entity in entities do %>
          <%= render('entity', :entity => entity, :entity_num => @match.entities.index(entity)) %>
        <% end %>
        <div class="livestats">
          <span>INCOME m: {{ match.teams[<%= team %>].mininc(current_frame) }} g: {{ match.teams[<%= team %>].gasinc(current_frame) }} w: {{ match.teams[<%= team %>].elem('WorkersActiveCount', current_frame) }}</span><br>
          <span>TOTAL RESOURCES LOST: {{ match.teams[<%= team %>].elem('Lost', current_frame) }} </span>
        </div>
      </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <div class="match-below-player">
    <div class="match-title-container">
      <h1 class="alpha match-title">Moonglade vs. TheStC</h1>
      <h4 class="gamma">America Premier League</h4>
      <h4 class="delta">Round of 32, Group G</h4>
    </div>
    <div class="list-wrapper">
      <div class="game-container">
        <div class="content-header">Games</div>
        <ul class="video-list unstyled-list clearfix" id="video-list-wrapper">
            <li>
              <a href="http://wcs.battle.net/sc2/en/matches/sen-vs-crank/game-1">1</a>
            </li>
            <li>
              <a href="http://wcs.battle.net/sc2/en/matches/sen-vs-crank/game-2">2</a>
            </li>
            <li>
              <a href="http://wcs.battle.net/sc2/en/matches/sen-vs-crank/game-3">3</a>
            </li>
          </ul>
      </div>
      <div class="related-container">
        <div class="content-header">Score</div>
        <ul class="match-teams-list spoiler delta">
          <li class="clearfix">
            <img alt="Protoss" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/protoss-icon.png" title="Protoss">
            <a class="player-name" href="http://wcs.battle.net/sc2/en/players/crank">Moonglade</a>
            <span class="player-score">2</span>
          </li>
          <li class="clearfix">
            <img alt="Zerg" class="race-icon" src="http://opcdn.battle.net/static/wcs/public/images/zerg-icon.png" title="Zerg">
            <a class="player-name" href="http://wcs.battle.net/sc2/en/players/thestc">TheStC</a>
            <span class="player-score">1</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      function onYouTubeIframeAPIReady() {
        window.theGGYTplayer = new YT.Player('ytplayer', {
          height: '550',
          width: '800',
          videoId: 'X6bJ4haYXyM',
          events: {
            'onReady': onPlayerReady
          }
        });
      }

      S2_TIMESCALE = 1.4018;

      function compute_s2_time(yt_time) {
        if (yt_time < 637) {
          return Math.max(0, 20 + S2_TIMESCALE * (yt_time - 417));
        }
        if (yt_time < 851) {
          return 329
        }

        return Math.min(334 + S2_TIMESCALE * (yt_time - 851), 1785);
      }

      function updateObserverUI() {
        $('#yt_time').text(window.theGGYTplayer.getCurrentTime());
        s2_time = compute_s2_time(window.theGGYTplayer.getCurrentTime());
        $('#s2_time').text(s2_time);
        matchScope = angular.element($('#match')).scope();
        matchScope.$apply(function() {
          matchScope.current_frame = Math.floor(s2_time * 16.0);
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
        window.setInterval(updateObserverUI, 250);
      }

    </script>

</div>
</div>
    </div>
    
    <footer>
      <div class="footer-content epsilon clearfix">
        <div class="blizz-logo-container">
          <a href="http://www.blizzard.com/" target="_blank">
            <img src="http://opcdn.battle.net/static/wcs/public/images/blizzard-logo.png">
          </a>
        </div>
        <div class="esrb-rating-container">
          <a href="http://www.esrb.org/ratings/ratings_guide.jsp">
            <img src="http://opcdn.battle.net/static/wcs/public/images/esrb.png">
          </a>
        </div>
        <div class="partner-logo-container">
          <ul class="footer-partner-logos">
            <li class="gom-footer-logo">
              <a href="http://www.gomtv.net/" target="_blank">
                GOMTV
              </a>
            </li>
            <li class="mlg-footer-logo">
              <a href="http://www.majorleaguegaming.com/" target="_blank">
                MLG
              </a>
            </li>
            <li class="esl-footer-logo">
              <a href="http://www.esl.eu/eu/" target="_blank">
                ESL
              </a>
            </li>
            <li class="ogn-footer-logo">
              <div class="empty-link">
                OGN
              </div>
            </li>
            <li class="twitch-footer-logo">
              <a href="http://www.twitch.tv/" target="_blank">
                Twitch
              </a>
            </li>
            <li class="kespa-footer-logo">
              <a href="http://www.e-sports.or.kr/" target="_blank">
                KeSPA
              </a>
            </li>
            <li class="esf-footer-logo">
              <div class="empty-link">
                ESF
              </div>
            </li>
          </ul>
        </div>
        <div class="footer-copy">
          © 2013 Blizzard Entertainment, Inc. All rights reserved. All trademarks referenced herein are the properties of their respective owners.
        </div>
        <div class="links-wrapper">
          <ul class="text-footer-links">
            <li>
              <a href="http://us.blizzard.com/en-us/company/about/privacy.html" target="_blank">Privacy Policy</a>
            </li>
            <li>
              <a href="http://us.blizzard.com/en-us/company/legal/" target="_blank">Legal</a>
            </li>
            <li>
              <a href="http://us.blizzard.com/en-us/company/about/contact.html" target="_blank">Contact Us</a>
            </li>
            <li>
              <a href="http://wcs.battle.net/sc2/en/about/partners" target="_blank">Partners</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

</body></html>
