<!DOCTYPE html>
<html ng-app="gg">
<head>
  <meta charset='utf-8'>
  <meta name="robots" content="all">
  <meta name="copyright" content="GGTracker">
  <meta name="content-language" content="en">

  <% if meta.present? %>
    <%= meta %>
    <title><%= meta('title') %></title>
  <% end %>
  <%= favicon_link_tag %>

  <%= include_gon(init: true) %>
  <%= stylesheet_link_tag "gg", :media => "all" %>
  <%= render 'shared/analytics' %>
  <%= csrf_meta_tags %>

  <% if !Rails.env.production? %>
    <%= javascript_include_tag "gg" %>
  <% end %>

<!-- https://developers.google.com/speed/docs/best-practices/payload#DeferLoadingJS -->
<!-- http://stackoverflow.com/questions/5852767/possible-to-defer-loading-of-jquery -->
<script type="text/javascript">

  function getScript(url,success){
    var script=document.createElement('script');
    script.src=url;
    var head=document.getElementsByTagName('head')[0],
        done=false;
    script.onload=script.onreadystatechange = function(){
      if ( !done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete') ) {
        done=true;
        success();
        script.onload = script.onreadystatechange = null;
        head.removeChild(script);
      }
    };
    head.appendChild(script);
  }

  function afterScriptLoads() {

    $(function() {

      $('.djcloak').removeClass('djcloak');

      var jug = new Juggernaut({port: 5300});

      <% if signed_in? %>
        gg.settings.replay_channel = "<%= current_user.replay_channel %>";
        gg.settings.user_channel = "<%= current_user.channel %>";
        gg.settings.user_id = "<%= current_user.id %>";

        jug.subscribe(gg.settings.user_channel, function(data){
          rootScope = angular.element($('html')).scope();
          rootScope.user = data;
          rootScope.$digest();
        });
      <% else %>
        <%# could add resolution and whatnot to make this even more unique %>
        gg.settings.replay_channel = CryptoJS.SHA1($.browser + Date()).toString();
      <% end %>

      jug.subscribe(gg.settings.replay_channel, function(data){
        uploadScope = angular.element($('.uploads')).scope();
        //        Proxino.log("replay update received: " + JSON.stringify(data));
        replay = _.find(uploadScope.allreplays, function(rep) { return rep.replay_file_name == data.replay_file_name });
        if (_.isNull(replay) || _.isUndefined(replay)) {
          thelen = 0;
          if (uploadScope.allreplays) {
            thelen = uploadScope.allreplays.length;
          }
          // Proxino.log("erk, couldnt find replay.  allreplays has " + thelen + " items.");
        } else {
          // Proxino.log("found replay, it's " + JSON.stringify(replay));
        }
        $.extend(replay, data);
        throttledUploadDigest();
      });
    });
  };

  function getOurScript() {
    getScript("<%= javascript_path 'gg' %>", afterScriptLoads);
  }

  <% if Rails.env.production? %>
    // Check for browser support of event handling capability
    if (window.addEventListener)
      window.addEventListener("load", getOurScript, false);
    else if (window.attachEvent)
      window.attachEvent("onload", getOurScript);
    else window.onload = getOurScript;
  <% else %>
    afterScriptLoads();
  <% end %>

</script>


  <%= yield :head %>
</head>
<body class="<%= body_name %>" ng-class="{loading: gg.state.loading}">
  <div id="content">
    <%= yield %>
    <div class="clear"></div>
  </div>
</body>
</html>
